/* Global */
html,
body {
  margin: 0;
  color: #001F3F;
  height: 100%;
}

body {
  font-family: 'Avenir', sans-serif;
  font-size: 2em;
  display: flex;
  height: 100vh;
}

main {
  width: 840px;
  margin: auto;
  padding: 20px;
}

h1, nav {
  animation-fill-mode: forwards;
}

h1 {
  line-height: 0.5em;
  margin: 0;
  padding: 0;
}

nav {
  margin: auto;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}

a {
  color: #000;
}


/* fancy css shite */
h1 {
  animation-delay: 2s;
  animation: 1s ease-out 0s 1 slideDown;
p
}

nav {
  animation-delay: 2s; 
  animation: slideUp 1s;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
