/* Global */
html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Avenir', sans-serif;
  font-size: 2em;
  display: flex;
  height: 100vh;
}

main {
  margin: auto;
  padding: 20px;
}


h1 {
  float: left;
  margin: 0;
  padding: 0;
}

.avatar {
        background-image: url('https://en.gravatar.com/userimage/27123989/1bb56f157a33b09e7eedf8609945fa1a.jpg?size=500');
        background-repeat: no-repeat;
        background-size: cover;
        width: 128px;
        height: 128px;
        border-radius: 100px;
        margin: 0 0 20px 0;
}

p {
  clear: both;
}

nav {
  margin: auto;
  clear: both;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}

a {
  color: #000;
}


/* fancy css shite */
.slide-down {
  animation-delay: 2s;
  animation: 2s ease 0s normal forwards 1 slideDown;
  animation-fill-mode: forwards;
}

.slide-up {
  animation-delay: 3s; 
  animation: 3s ease 0s normal forwards 1 slideUp;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0
  }
  66% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0
  }
  66% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* fancy responsive shite */
@media only screen and (max-width: 600px) {
  body {
    font-size: 1.4em;
  }
}
